body{
  overflow-x: hidden;
}

a{
  color: #62cff4;
}

a:hover{
  color: white;
}

.navbar-brand img{
  width: 60px;
}

.nav-bg-color{
  background-image: linear-gradient(to right, #62cff4, #2c67f2)
}

.card img{
  height: 350px;
}

/* Masonry Grid */

.gallery {
  column-count: 3;
  column-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-item {
  break-inside: avoid;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  display: block;
}



.foot-bg-color{
  background-image: linear-gradient(to right, #707070, #454545)
}
footer img{
  width: 174px;
}
footer .social ul li a i:hover{
  color: #62cff4;
}